In [25]:
import pandas as pd
from datasets import Dataset, Image

In [2]:
df = pd.read_csv(f'../screen_annotation/train.csv')

In [3]:
df

       screen_id                                  screen_annotation
0          39382  TEXT Currency code 79 923 78 111, LIST_ITEM 45...
1          11969  PICTOGRAM thumbs up 390 607 59 228 (IMAGE a si...
2          17058  TOOLBAR 0 999 30 109 (PICTOGRAM three bars 0 1...
3            876  TOOLBAR 0 999 31 108 (PICTOGRAM a black backgr...
4          30751  TOOLBAR 0 999 31 109 (TEXT Inbox 40 158 54 85,...
...          ...                                                ...
15543      34202  PICTOGRAM the logo for husheed is white on a r...
15544       5989  PICTOGRAM arrow backward 0 132 31 109, TOOLBAR...
15545      21494  TOOLBAR 0 999 31 103 (PICTOGRAM a black cross ...
15546      49407  TEXT Wallet accounts 220 772 165 220, TEXT In ...
15547      69156  IMAGE a screen shows the temperature at 47 deg...

[15548 rows x 2 columns]

In [6]:
base_image_path = 'C:/Users/milia.io/Downloads/combined/'

In [9]:
df['file_path'] = df['screen_id'].map(lambda x: base_image_path+f"{x}.jpg")

In [15]:
df[:10]

,screen_id,screen_annotation,file_path
0,39382,"TEXT Currency code 79 923 78 111, LIST_ITEM 45...",C:/Users/milia.io/Downloads/combined/39382.jpg
1,11969,PICTOGRAM thumbs up 390 607 59 228 (IMAGE a si...,C:/Users/milia.io/Downloads/combined/11969.jpg
2,17058,TOOLBAR 0 999 30 109 (PICTOGRAM three bars 0 1...,C:/Users/milia.io/Downloads/combined/17058.jpg
3,876,TOOLBAR 0 999 31 108 (PICTOGRAM a black backgr...,C:/Users/milia.io/Downloads/combined/876.jpg
4,30751,"TOOLBAR 0 999 31 109 (TEXT Inbox 40 158 54 85,...",C:/Users/milia.io/Downloads/combined/30751.jpg
5,47012,LIST_ITEM 30 482 16 232 (PICTOGRAM a blue circ...,C:/Users/milia.io/Downloads/combined/47012.jpg
6,56749,PICTOGRAM a white arrow pointing to the left o...,C:/Users/milia.io/Downloads/combined/56749.jpg
7,57934,TEXT An error occurred while initializing the ...,C:/Users/milia.io/Downloads/combined/57934.jpg
8,20966,TOOLBAR 0 999 31 102 (PICTOGRAM a blue globe w...,C:/Users/milia.io/Downloads/combined/20966.jpg
9,33799,"TEXT Welcome 381 635 45 101, PICTOGRAM a white...",C:/Users/milia.io/Downloads/combined/33799.jpg

In [16]:
def map_image(file_path):
    with Image.open(file_path) as im:
        return im.tobytes();

df_ten = df[:10]
df_ten['image'] = df_ten['file_path'].map(map_image)

C:\Users\milia.io\AppData\Local\Temp\ipykernel_22128\343192950.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ten['image'] = df_ten['file_path'].map(map_image)

In [17]:
df_ten

,screen_id,screen_annotation,file_path,image
0,39382,"TEXT Currency code 79 923 78 111, LIST_ITEM 45...",C:/Users/milia.io/Downloads/combined/39382.jpg,b'S\x13\x13S\x13\x13S\x13\x13S\x13\x13S\x13\x1...
1,11969,PICTOGRAM thumbs up 390 607 59 228 (IMAGE a si...,C:/Users/milia.io/Downloads/combined/11969.jpg,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
2,17058,TOOLBAR 0 999 30 109 (PICTOGRAM three bars 0 1...,C:/Users/milia.io/Downloads/combined/17058.jpg,b'\x1d\x03B\x1d\x03B\x1d\x03B\x1d\x03B\x1d\x03...
3,876,TOOLBAR 0 999 31 108 (PICTOGRAM a black backgr...,C:/Users/milia.io/Downloads/combined/876.jpg,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
4,30751,"TOOLBAR 0 999 31 109 (TEXT Inbox 40 158 54 85,...",C:/Users/milia.io/Downloads/combined/30751.jpg,b'\x004\xd6\x004\xd6\x004\xd6\x004\xd6\x004\xd...
5,47012,LIST_ITEM 30 482 16 232 (PICTOGRAM a blue circ...,C:/Users/milia.io/Downloads/combined/47012.jpg,b'\x02w\xbd\x02w\xbd\x02w\xbd\x02w\xbd\x02w\xb...
6,56749,PICTOGRAM a white arrow pointing to the left o...,C:/Users/milia.io/Downloads/combined/56749.jpg,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
7,57934,TEXT An error occurred while initializing the ...,C:/Users/milia.io/Downloads/combined/57934.jpg,b'iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii...
8,20966,TOOLBAR 0 999 31 102 (PICTOGRAM a blue globe w...,C:/Users/milia.io/Downloads/combined/20966.jpg,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...
9,33799,"TEXT Welcome 381 635 45 101, PICTOGRAM a white...",C:/Users/milia.io/Downloads/combined/33799.jpg,b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...

In [18]:
from datasets import Dataset

dataset = Dataset.from_pandas(df_ten)

c:\Users\milia.io\programming\ml\ai-testing\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [19]:
dataset

Dataset({
    features: ['screen_id', 'screen_annotation', 'file_path', 'image'],
    num_rows: 10
})

In [14]:
df

,screen_id,screen_annotation,file_path
0,39382,"TEXT Currency code 79 923 78 111, LIST_ITEM 45...",C:/Users/milia.io/Downloads/combined/39382.jpg
1,11969,PICTOGRAM thumbs up 390 607 59 228 (IMAGE a si...,C:/Users/milia.io/Downloads/combined/11969.jpg
2,17058,TOOLBAR 0 999 30 109 (PICTOGRAM three bars 0 1...,C:/Users/milia.io/Downloads/combined/17058.jpg
3,876,TOOLBAR 0 999 31 108 (PICTOGRAM a black backgr...,C:/Users/milia.io/Downloads/combined/876.jpg
4,30751,"TOOLBAR 0 999 31 109 (TEXT Inbox 40 158 54 85,...",C:/Users/milia.io/Downloads/combined/30751.jpg
...,...,...,...
15543,34202,PICTOGRAM the logo for husheed is white on a r...,C:/Users/milia.io/Downloads/combined/34202.jpg
15544,5989,"PICTOGRAM arrow backward 0 132 31 109, TOOLBAR...",C:/Users/milia.io/Downloads/combined/5989.jpg
15545,21494,TOOLBAR 0 999 31 103 (PICTOGRAM a black cross ...,C:/Users/milia.io/Downloads/combined/21494.jpg
15546,49407,"TEXT Wallet accounts 220 772 165 220, TEXT In ...",C:/Users/milia.io/Downloads/combined/49407.jpg
15547,69156,IMAGE a screen shows the temperature at 47 deg...,C:/Users/milia.io/Downloads/combined/69156.jpg

In [21]:
df['image'] = df['file_path']
df.drop(columns=['file_path'], inplace=True)

In [26]:
dataset = Dataset.from_pandas(df).cast_column('image', Image())

In [29]:
dataset

Dataset({
    features: ['screen_id', 'screen_annotation', 'image'],
    num_rows: 15548
})

In [39]:
from huggingface_hub import notebook_login

In [41]:
dataset.push_to_hub('nickhobbs09/screen-ai-annotation', private=True)

Map: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3887/3887 [00:01<00:00, 2469.35 examples/s]s]
Creating parquet from Arrow format: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:01<00:00, 29.53ba/s]
Map: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3887/3887 [00:01<00:00, 2588.05 examples/s]117.87s/it]
Creating parquet from Arrow format: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:01<00:00, 27.85ba/s]
Map: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3887/3887 [00:01<00:00, 2613.93 examples/s]115.27s/it]
Creating parquet from Arrow format: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:01<00:00, 29.23ba/s]
Map: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3887/3887 [00:20<00:00, 186.08 examples/s] 113.56s/it]
Creating parquet from Arrow format: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:01<00:00, 26.87ba/s]
Uploading the dataset shards: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [07:58<00:00, 119.63s/it]

CommitInfo(commit_url='https://huggingface.co/datasets/nickhobbs09/screen-ai-annotation/commit/f4df0532fa2e76ab5f27181ba54235274159a7e9', commit_message='Upload dataset', commit_description='', oid='f4df0532fa2e76ab5f27181ba54235274159a7e9', pr_url=None, pr_revision=None, pr_num=None)